<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <view
            category="com.ingemark.requestage.views"
            class="com.ingemark.requestage.plugin.ui.RequestAgeView"
            fastViewWidthRatio="0.3"
            icon="img/requestage.gif"
            id="com.ingemark.requestage.views.RequestAgeView"
            name="RequestAge">
      </view>
      <category
            id="com.ingemark.requestage.views"
            name="RequestAge">
      </category>
      <view
            allowMultiple="false"
            category="com.ingemark.requestage.views"
            class="com.ingemark.requestage.plugin.ui.HistoryView"
            fastViewWidthRatio="1"
            icon="img/requestage.gif"
            id="com.ingemark.requestage.views.HistoryView"
            name="RequestAge History">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view relative="org.eclipse.jdt.ui.PackageExplorer" relationship="stack"
            id="com.ingemark.requestage.views.RequestAgeView">
         </view>
         <view
               id="com.ingemark.requestage.views.HistoryView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.wst.jsdt.ui.JavaPerspective">
         <view relative="org.eclipse.wst.jsdt.ui.PackageExplorer" relationship="stack"
            id="com.ingemark.requestage.views.RequestAgeView">
         </view>
         <view
               id="com.ingemark.requestage.views.HistoryView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view relative="org.eclipse.ui.navigator.ProjectExplorer" relationship="stack"
            id="com.ingemark.requestage.views.RequestAgeView">
         </view>
         <view
               id="com.ingemark.requestage.views.HistoryView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.ingemark.requestage.plugin.LaunchShortcut"
            description="Launch the current selection as a RequestAge stress testing script"
            icon="img/requestage.gif"
            id="com.ingemark.requestage.launchShortcut"
            label="RequestAge Script"
            modes="run">
         <contextualLaunch>
            <contextLabel mode="run" label="RequestAge Script" />
            <enablement>
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IResource">
                        <and>
                           <test property="org.eclipse.core.resources.name" value="*.js" />
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
