<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category name="ingemark Stress Test" id="ingemark-perftest-plugin">
      </category>
      <view category="ingemark-perftest-plugin" class="com.ingemark.perftest.plugin.ui.RequestAgeView" icon="img/perftest.gif"
         id="com.ingemark.perftest.plugin.views.RequestAgeView" name="Request Age">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view ratio="0.5" relative="org.eclipse.ui.views.ProblemView" relationship="stack"
            id="com.ingemark.perftest.plugin.views.RequestAgeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut id="com.ingemark.perftest.launchShortcut" class="com.ingemark.perftest.plugin.LaunchShortcut"
         label="Stress Test" icon="img/perftest.gif" modes="run">
         <contextualLaunch>
            <contextLabel mode="run" label="Stress test" />
            <enablement>
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IResource">
                        <and>
                           <test property="org.eclipse.core.resources.name" value="*.sts" />
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
